@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
 *{
    box-sizing: border-box;
}
body{
    background-color: gray;
    color: white;
    font-family: 'Inter', sans-serif;
}
.custom-form{
    position: relative;
    overflow: hidden;
    background: black;
    width: 500px;
    height: 550px;
    margin: auto;
    border-radius: 10px;
}
form{
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(23,23,157,1) 22%, rgba(36,186,217,1) 71%);
    padding: 50px 50px;
    position: absolute;
    border-radius: 10px;
    inset: 4px;
    z-index: 2;
}
.custom-form::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 550px;
    top: -50%;
    left: -50%;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(249,249,249,1) 0%, rgba(202,239,246,1) 42%);
    z-index: 1;
    transform-origin: bottom right;
    animation: slideright 6s linear infinite;
}
@keyframes slideright{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.custom-form::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 550px;
    top: -50%;
    left: -50%;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(249,249,249,1) 0%, rgba(202,239,246,1) 42%);
    z-index: 1;
    transform-origin: bottom right;
    animation: slideleft 6s linear infinite;
    animation-delay: -3s;
}

@keyframes slideleft{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 550px;
    top: -50%;
    left: -50%;
    border: none;
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 94%);
    z-index: 1;
    transform-origin: bottom right;
    animation: slideright 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 550px;
    top: -50%;
    left: -50%;
    border: none;
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 94%);
    z-index: 1;
    transform-origin: bottom right;
    animation: slideleft 6s linear infinite;
    animation-delay: -4.5s;
}
h1{
    text-align: center;
    color: white;
}
input{
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid white;
    height: 40px;
    color: white;
    background-color: transparent;
    transition: 4s;
}

input::placeholder {
    color: white;
}

.username{
    margin: 45px 0;
}
.sign-up{
    float: right;
}
button{
    margin: 20px 0;
    padding: 15px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}
button:hover{
    background-color: rgba(9,9,121,1);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 520px) {
       .custom-form{
        width: 400px;
       }
    }